header {
    background-color: rgb(212, 66, 66);
    color: rgb(145, 144, 144);

}

.cabecalho-imagem{
    width: 20%;
}
.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
